@import '../../../styles/colors';
@import '../../../styles/variables';

.background-wrapper,
.background-wrapper:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.background-wrapper span.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  background: map-get($mat-grey, 400) center center fixed;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 48s linear infinite 0s;
  -moz-animation: imageAnimation 48s linear infinite 0s;
  -o-animation: imageAnimation 48s linear infinite 0s;
  -ms-animation: imageAnimation 48s linear infinite 0s;
  animation: imageAnimation 48s linear infinite 0s;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .24);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.content-wrapper .content {
  padding: 0;
  width: 100%;
  height: 100%;
}

.login-container {
  width: inherit;
  height: auto;
  min-height: calc(100vh - 56px - 125px);
  min-height: calc(100vh - 56px - 125px - constant(safe-area-inset-top));
  min-height: calc(100vh - 56px - 125px - env(safe-area-inset-top));
}

.login-container .login-box,
.login-container .district-box {
  width: 94%;
  min-width: 280px;
  max-width: 472px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
}

.login-container .login-box {
  padding: 16px 24px 24px 24px;
  min-height: 260px;
}

.login-container .district-box > div {
  padding: 0 24px 24px 24px;
}

.login-container .district-box h2 {
  margin: 0 -24px 16px -24px;
  padding: 12px 24px;
  color: #fff;
  background: $sc-blue;
}

.login-container .logo {
  max-width: 85%;
  max-height: 100px;
}

.login-container .logo-text {
  opacity: 0.8;
  margin: 4px 0;
  font-size: 14.5px;
  font-weight: 600;
  color: map-get($mat-teal, 700);
}

.background-wrapper span.background-img:nth-child(1) {
  background-image: url(/assets/img/antipasta-1645401.jpg)
}

.background-wrapper span.background-img:nth-child(2) {
  background-image: url(/assets/img/blueberries-2270379.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.background-wrapper span.background-img:nth-child(3) {
  background-image: url(/assets/img/healthy-2407029.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

.background-wrapper span.background-img:nth-child(4) {
  background-image: url(/assets/img/pizza-1344720.jpg);
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  -o-animation-delay: 36s;
  -ms-animation-delay: 36s;
  animation-delay: 36s;
}

//.background-wrapper span.background-img:nth-child(6) {
//  background-image: url(/assets/img/fruit-3048001.jpg);
//  -webkit-animation-delay: 30s;
//  -moz-animation-delay: 30s;
//  -o-animation-delay: 30s;
//  -ms-animation-delay: 30s;
//  animation-delay: 30s;
//}

.float-button {
  position: fixed;
  bottom: 30px;
  left: 20px;
  opacity: 0.9;
  color: white;
  background: map-get($mat-light-blue, 800);
  border-color: map-get($mat-light-blue, 800);
  border-radius: 20px;
  z-index: 10;
}

.float-button:hover,
.float-button:active {
  opacity: 1;
}

.float-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

@include tablet {
  .background-wrapper {
    background-attachment: scroll;
  }

  .login-container {
    min-height: calc(100vh - 56px - 247.5px);
    min-height: calc(100vh - 56px - 247.5px - constant(safe-area-inset-top));
    min-height: calc(100vh - 56px - 247.5px - env(safe-area-inset-top));
  }
}

/** Mixin to apply same styles to mobile and app */
@mixin mobile-layout {
  @include mobile {
    @content;
  }

  @media screen and (max-width: 812px) and (orientation: landscape) {
    @content;
  }

  .sc-app-layout {
    @content;
  }
}

@include mobile-layout {
  .background-wrapper {
    display: none;
  }

  .content-wrapper {
    position: relative;
    -webkit-overflow-scrolling: unset;
    background: url('../../../../assets/img/home-background-sm.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-container .login-box,
  .login-container .district-box > div {
    padding: 16px;
  }

  .login-container .login-box h1 {
    margin-top: 0;
  }

  .login-container .district-box h2 {
    margin: -16px -16px 16px -16px;
    padding: 12px 24px;
  }
}

.sc-app-layout {
  .content-wrapper {
    background: url('../../../../assets/img/home-background-lg.jpg') center center fixed;
  }
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

.hide {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
